# Entornos y secretos
.env
.env.local
*.env

# Node / JS
node_modules/
dist/
build/
.next/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Modelos y Vídeos de prueba
*.mp4
*.avi
*.weights
*.pt
*.onnx

# IDEs
.vscode/
.idea/
.DS_Store